/.vs/
/Library/
/obj/
/ARpoiseARvos-1.0-v190923.symbols.zip
/ARpoiseARvos.apk
/Export/
/Temp/
/ARpoiseARvos-1.0-v191004.symbols.zip
/Assembly-CSharp-Editor.csproj,v
/AR-vos.aab
/AR-vos-1.0-v191008.symbols.zip
